# Terraform
.terraform/
.terraform.lock.hcl
terraform.tfvars
terraform.tfstate
terraform.tfstate.backup
*.tfplan
tfplan
plan_output.txt
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Secrets
*.env
.env*

# OS
.DS_Store
Thumbs.db
